body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: Arial, sans-serif;
}

.control-panel {
	width: 300px;
	padding: 20px;
	background-color: #2c3e50;
	color: #ecf0f1;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

.control-panel h2 {
	margin-top: 0;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 1px solid #ecf0f1;
	padding-bottom: 10px;
	margin-bottom: 55px;
}

.control-group {
	margin-bottom: 20px;
}

.control-group label {
	display: block;
	margin-bottom: 6px;
	font-size: 1rem;
}

.control-group input {
	width: 100%;
}

#liveCellColor {
	margin-top: 3px;
	border: none;
	background-color: #838383;
}

#liveCellColor:hover {
	border: 1px solid #1a1a1a;
}

.control-group span {
	display: block;
	margin-top: 5px;
	text-align: right;
	font-size: 0.9rem;
	color: #bdc3c7;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 45px;
}

button {
	padding: 10px;
	font-size: 1rem;
	color: #ecf0f1;
	background-color: #2980b9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #3498db;
}

button:active, button.active{
	background-color: #1e6a8e;
	transform: scale(0.95);
}

#toggleAnimation {
	background-color: #2a974f;
}

#toggleAnimation:hover {
	background-color: #2aaa55;
}

#toggleAnimation:active, #toggleAnimation.active{
	background-color: #1d773b;
	transform: scale(0.95);
}

/* Grid */
#game-container {
	display: grid;
	gap: 1px;
	background-color: #474747;
	user-select: none; /* Disable text selection */
}

/* Base styles for the cells */
.cell {
	background-color: #838383; /* Dead cells are dark */
	transition: background-color 0.2s ease;
}

/* Styles for live cells */
.cell[data-alive="true"] {
	background-color: #12cf12;
}

#cell-info {
	font-size: 0.9rem;
	color: #bdc3c7;
	background-color: #474747;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	width: 85px;
	position: absolute;
	right: -140px;
	bottom: 5px;
}

#wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}